@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --color-font-q: #6b6a6a;
    --color-heading: #071013;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.hidden {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease;
    filter: blur(5px);
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
.show {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

header {grid-area: header;}
main    {grid-area: main;}
footer  {grid-area: footer;}

body {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-areas: 
   "main"
   "footer";
   /* background-color: rgb(238, 237, 237); */
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0.5rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    .logo {
        display: flex;
        text-decoration: none;
        align-items: center;
        gap: 0.2rem;

        h1 {
            font-size: 13px;
            color: #fff;
            span {
                color: gold;
                border-bottom: 1px solid#d2d2d2;
            }
        }
    }
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
    z-index: -1;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;    
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgb(225, 241, 78));
    transition: 0.3s;
    cursor: pointer;
}

header:hover::after {
    left:100%;
}

.navber a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.navber a.active {
    color: gold;
}

.icon {
    position: absolute;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    right: 0;
}

@media (max-width: 768px) {
    .icon {
        display: inline-flex;
    }

    #check:checked ~ .icon #menu-icon {
        display: none;
    }

    .icon #close-icon {
        display: none;
    }

    #check:checked ~ .icon #close-icon {
        display: block;
    }

    .navber {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(50px);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
        overflow: hidden;
        transition: 0.3s ease;

        a {
            display: block;
            font-size: 1.1rem;
            margin-top: 1.5rem;
            text-align: center;
            transform: translateY(-50px);
            transition: 0.3s ease;
            opacity: 0;
        }
    }
    
    #check:checked ~ .navber {
        height: 17.7rem;
    }
    #check:checked ~ .navber a {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(0.13s * var(--i)) ;

    } 

}

main {
    width: 100vw;
    margin-top: 54px;
    .img {
        width: 100%;
        height: 500px;
        position: relative;
        overflow: hidden;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0)
        ),
        url(/img/2798-dassaultromuald-nicolas-web-7-1300px.jpeg);
        background-position: center;
        background-size: cover;

        h1 {
            position: absolute;
            bottom: 50px;
            left: 70px;
            color: gold;
            background-color: rgba(92, 92, 92, 0.3);
            padding: 30px 100px;
            font-weight: bold;
            font-size: 4rem;
            letter-spacing: 0.5rem;
        }
    }

    .followPage {
        border-bottom: 1px solid #666;
        padding: 15px 83px;

        div {
            display: inline-flex;
            gap: 1rem;
            align-items: center;
            letter-spacing: 3px;

            a,span {
                text-decoration: none;
                color: var(--color-font-q);
            }
            span:nth-child(1):hover {
                color: gold;
                text-decoration: underline;
            }
        }
    }

    .containerContent {
        padding: 100px 80px;
        display: flex;
        gap: 4rem;

        nav {
            display: none;
        }

        .ul-desktop--scree {
            width: 70%;

            .active {
                color: gold;
            }
            a {
                font-size: 1.3rem;
                text-decoration: none;
                color: var(--color-font-q);

                li {
                    list-style: none;
                    margin-bottom: 2rem;
    
                }
            }
            a:hover {
                color: gold;
            }
        }

        .content {
           div {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-bottom: 5rem;
            font-size: larger;

            span {
                line-height: 28px;
            }
           }
        }
    }

}

footer {
    width: 100vw;
    background-image: url(/img/BG_DARK_BLUE-01.png);
    background-position: center;
    background-size: cover;
    color: rgb(227, 194, 2);
    padding: 50px 100px;
    display:flex ;
    flex-direction: column;
    gap: 1rem;

    
    .sidebar {
        display: none;
    }
    
    div:nth-child(1) {
        display: flex;
        justify-content: space-around;

        h1:nth-child(1) {
            font-size: 25px;
            transform: translateX(-73px);
        }
        h1:nth-child(2) {
            font-size: 25px;
            transform: translateX(-210px);
        }
        h1:nth-child(3) {
            font-size: 25px;
            transform: translateX(-140px);
        }
    }
    

    .container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 4rem;
        border-bottom: 1px solid #666;
        
        a{
            text-decoration: none;
            color: gold;
            transition: 0.2s ease;
        }
        a:hover {
            color: #fff;
            text-decoration:underline;
        }

        
        ul {
            li {
                margin-bottom: 0.75rem;
            }
        }
        
        i {
            font-size: 25px;
        }
        
        span {
            font-size: 16px;
        }
        
        .contact {
            ul {
                transform: translateY(-20px);

                li {
                    display: flex;
                    align-items: center;
                }
            }
        }
        .location {
            ul {
                transform: translateY(-50px);

                li {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .sidebar {
            display: none;
        }
        
        .div-nav {
            display: none;
        }
    }

    .img {grid-area: img;}
    .name-company {grid-area: name-company;}
    .contact {grid-area: contact;}
    .icon-contact {grid-area: icon-contact;}
    .last {grid-area: last;}

    .bottom-footer {
        display: grid;
        grid-template-areas: 
        "img name-company . . ."
        "img contact contact contact icon-contact"
        ". last last . .";
        column-gap: 3rem;

        .img {
            transform: translateX(50px);
        }

        .name-company {
            font-weight: bolder;
        }

        .name-company, .contact {
            transform: translateY(20px);
        }
        .contact {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            transform: translateY(5px);

            span {
                display: flex;
                align-items: center;
                gap: 5px;
            }
            
            a {
                text-decoration: none;
                color: gold;
            }
            a:hover {
                text-decoration: underline;
                color: #fff;
            }
            i {
                font-size: 25px;
            }
        }
        .icon-contact {
            display: flex;
            align-items: center;
            gap: 2rem;
            transform: translateY(5px);

            a {
                background-color: gold;
                border-radius: 50%;
                padding: 5px;
                font-size: 30px;
                color: black ;
                display: flex;
                text-decoration: none;
                
            }
            a:nth-child(1):hover {
                background-color: #2a67eb;
                color: #fff;
            }
            a:nth-child(2):hover {
                background-color: #33e129;
                color: #fff;
            }
            a:nth-child(3):hover {
                background-color: #e84315;
                color: #ffffff;
            }
        }
        .last {
            font-size: small;
            transform: translate(-140px, 30px);
        }

    }
}

@media (max-width: 430px) {
    main {
        .img{
            height: 15%;
            h1 {
                font-size: 2rem;
                padding: 30px 100px;
                left: 0;
            }
        }
        .followPage {
            padding: 15px 30px;
        }

        .containerContent {
            display: flex;
            flex-direction: column;
            padding: 30px 30px;
            gap: 1rem;

            .ul-desktop--scree {
                display: none;
            }

            nav {
                display: block;
                ul {
                    list-style: none;
                    li {
    
                        button {
                            width: 100%;
                            border: 1px solid #666;
                            background: none;
                            padding: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            
                            span {
                                font-size: 1.2rem;
                            }

                        }
                        ul {
                            list-style: none;
            
                            a {
                                text-decoration: none;
                            }
                        }
                        .sub-menu {
                            height: 0px;
                            overflow: hidden;
                            padding: 20px;
                            li {
                                margin-top: 2rem;
                                a {
                                    color: black;
                                    text-decoration: none;
                                    font-size: 1.2rem;
                                }
                            }
                            a.active {
                                color: gold;
                              }
                          }
                          .sub-menu.show {
                            height: auto;
                            border: 1px solid #666;
                          }

                    }
                }
            }
        }

        

        

    }

    footer {
        padding: 15px 0;
        transform: translateY(450px);
        .bottom-footer {
            display: none;
        }
        
        .container {
            display: none;
        }
        h1 {
            display: none;
        }

        .sidebar {
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;
            box-sizing: border-box;
            display: block;

            ul {
                list-style: none;

               li {
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        background: none;
                        padding:10px;
                        color: #fff;
                        margin-bottom: 1rem;
                        position: relative;
                        border: none;


                        span {
                            font-size: 1.3rem;
                        }
                    }
                    svg {
                        transition: 200ms ease;
                        position: absolute;
                        right: 10px;
                    }
                    .rotate svg {
                        rotate: -180deg;
                    }



                    .sub-menu {
                        display: grid;
                        grid-template-rows: 0fr;
                        transition: 300ms ease-in-out;
                        text-align: center;

                        > div {
                            overflow: hidden;
                            display: grid;
                            grid-template-rows: 1fr;
                            gap: 2rem;
                            padding: 5px;

                            a {
                                color: gold;
                                text-decoration: none;
                            }
                        }
                        
                    }
                    li{
                        font-size: 1.1rem;
                        transform: translateY(-50px);
                        transition: 0.3s ease;
                        opacity: 0;

                        i {
                            font-size: 2rem;
                        }
                    }
                    .show li {
                        opacity: 1;
                        transform: translateY(0);
                        transition-delay: calc(0.13s * var(--i)) ;
                    }
                    .sub-menu.show {
                        grid-template-rows: 1fr;
                        border-bottom: 1px solid #666;
                    }
                    
                    
                   
               }
            }
        }
    }
}